.hero {

  width: 100vw;
  height: 100vh;
  max-width: 100%;

  background-color: black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.hero-text {
  color: rgb(187, 187, 187);
  font-size: 15vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;

  transform: skewY(-11deg);

}

.hero-text-smaller {
  color: rgb(187, 187, 187);
  font-size: 4vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;

  transform: skewY(-11deg);
}

.about-me {
  background-color: black;
}

.blurb {
  background-color: rgb(187, 187, 187);
  color: black;
  font-size: 200%;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 900;
  padding: 30px;
}

.blurb-2 {
  color: rgb(187, 187, 187);
  font-size: 120%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-left: 50px;
  letter-spacing: .1em;
}

.awards {
  width: 100vw;
  max-width: 100%;
  background-color: rgb(187, 187, 187);
}

.h1 {
  font-family: 'Roboto Slab', sans-serif;
  color: black;
  font-size: 400%;
  padding-top: 100px;
}

.body-text {
  font-family: 'Roboto', sans-serif;
  color: black;
}

.page img {
  padding-top: 50px;
  padding-bottom: 50px;
  display: block;
  margin: auto;

}

.news-design {
  width: 100vw;
  max-width: 100%;
  background-color: white;
}

.h1-gray {
  font-family: 'Roboto Slab', sans-serif;
  color: rgb(72,72,72);
  font-size: 400%;
  padding-top: 100px;
}

.body-text-gray {
  font-family: 'Roboto', sans-serif;
  color: rgb(72,72,72);
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .magazine-design {
   width: 100vw;
   max-width: 100%;
   background-color: rgb(196,231,245);
 }

 .advertising {
   width: 100vw;
   max-width: 100%;
   background-color: white;
 }

 .logos {
   width: 100vw;
   max-width: 100%;
   background-color: rgb(187, 187, 187);
 }

 .digital-layout {
   width: 100vw;
   max-width: 100%;
   background-color: black;
 }

 .web-design {
   width: 100vw;
   max-width: 100%;
   background-color: rgb(187, 187, 187);
 }

 .footer {
   background-color: black;
 }

 .h2 {
   font-family: 'Roboto Slab', sans-serif;
   color: black;
   font-size: 200%;
   padding-top: 75px;
 }

 a {
   color: rgb(187, 187, 187);
 }

 .ender {
   padding-bottom: 80px;
 }
