.hero {

  width: 100vw;
  height: 100vh;
  max-width: 100%;

  background-color: black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.hero-text {
  color: rgb(72,72,72);
  font-size: 15vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;

  transform: skewY(-11deg);

}

.hero-text-smaller {
  color: rgb(72,72,72);
  font-size: 4vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;

  transform: skewY(-11deg);
}

.about-me {
  background-color: black;
}

.blurb {
  background-color: rgb(72,72,72);
  color: black;
  font-size: 200%;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 900;
  padding: 30px;

}

.blurb-2 {
  color: rgb(72,72,72);
  font-size: 120%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-left: 50px;
  letter-spacing: .1em;
}
