.hero {

  width: 100vw;
  height: 100vh;
  max-width: 100%;

  background-image: url('images/City lights.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.hero-text {
  color: gray;
  font-size: 10vw;
  font-family: "arial", serif;

}
